<div class="hero-image section">
    <img src="{{ section.settings.image | img_url: 'master'}}">
</div>

{% schema %}
{
    "name": "hero image",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "preset": [
        "name": "Hero Image",
        "category": "Image"
    ]
}
{% endschema%}