<div class="hero-image section">
    <img src="">
</div>

{% schema %}
{
    "name": "hero image",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ]
}
{% endschema%}